#header {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 1);
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    padding: 0 1.25em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
}

#header h1 {
    -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s;
    -ms-transition: opacity 0.2s ease-in-out, visibility 0.2s;
    transition: opacity 0.2s ease-in-out, visibility 0.2s;
    border-bottom: 0;
    font-size: 0.8em;
    margin-bottom: 0;
    opacity: 1;
    visibility: visible;
}

#header h1 a {
    border: 0;
}

#header nav {
    cursor: pointer;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    height: 3em;
    letter-spacing: 0.1em;
    line-height: 3em;
    position: absolute;
    right: 0.7em;
    text-transform: uppercase;
    top: 0.7em;
}

#header nav span {
    border: 0;
    display: inline-block;
    padding: 0 1em;
}

#header nav span:before {
    float: right;
    margin-left: 0.75em;
}

#header nav span.menu {
    text-decoration: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px var(--main-font-color);
    padding: 0 1.35em;
}

#header nav span.menu:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

#header nav span.menu:before {
    content: '\f0c9';
    line-height: inherit;
}

#header nav span.menu:hover {
    background-color: rgba(0, 0, 0, 0.025);
}

#header nav span.menu:active {
    background-color: rgba(0, 0, 0, 0.075);
}

#header.alt {
    background-color: transparent;
}

@media screen and (max-width: 736px) {
    #header {
        height: 2.75em;
        line-height: 2.75em;
    }

    #header nav {
        top: 0;
        right: 0;
        height: inherit;
        line-height: inherit;
    }

    #header nav span.menu {
        cursor: pointer;
        height: inherit;
        line-height: inherit;
    }

    #header nav span.menu {
        box-shadow: none;
        padding: 0 1em;
        border-radius: 0;
    }

    #header nav span.menu:hover,
    #header nav span.menu:active {
        background-color: inherit;
    }
}

@media screen and (max-width: 480px) {
    #header nav span.menu {
        width: 4em;
        white-space: nowrap;
        text-indent: 4em;
        position: relative;
    }

    #header nav span.menu:before {
        width: inherit;
        position: absolute;
        top: 0;
        left: 0;
        text-indent: 0;
        text-align: right;
        margin-left: 0;
        padding-right: 1.25em;
    }
}
